
section {
    display: flex;
    justify-content: center;
    align-items: end;

    margin: auto;
    max-width: 110.2rem;
    
}

.section__cookies {
    margin-top: 2.6rem;

    width: 65.6rem;
    height: 41.2rem;
}

.section__h1 {
    background: linear-gradient(90deg, rgb(2, 13, 49) 0%, rgba(0,19,28,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 0.8rem;
    
    width: 110.2rem;
    height: 26rem;

    padding-top: 8rem;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.6rem;
}